body {
  font: 16px/1.5 'Montserrat', sans-serif;
  color: $black;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  margin: 0 0 2.25rem;
  font-size: 3rem;
}

h3 {
  font-size: 2.125rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

@media (min-width: 320px) {
  h1 {
    font-size: calc(24px + (64 - 24) * ((100vw - 320px) / (1920 - 320)));
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 4rem;
  }
}
