@import "colors";
@import "typography";
@import "variables";

// sections
@import "sections/hero";
@import "sections/what-we-do";
@import "sections/about-us";

// components
@import "components/site-grid";
@import "components/site-header";
@import "components/menu";
@import "components/button";
@import "components/service-proposition";
@import "components/site-footer";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1620px;
}

img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .container {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
