.about-us-section {
  .container-grid {
    display: grid;
    grid-template-columns: 1fr $container-max-width 1fr;
  }

  .main-grid {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 9%;
    align-items: center;
  }

  .description {
    margin-bottom: 2rem;
    font-size: 24px;
    font-weight: 500;
    color: $gray;
  }
}
