.hero-section {
  margin: 80px auto 140px;

  &__title {
    text-align: center;
  }

  &__description {
    font-size: 1.125rem;
    font-weight: 500;
    color: $gray;
  }

  &__benefits-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    margin: 40px 0;
  }

  &__benefit {
    text-align: center;
    font-weight: 600;
  }

  &__benefits-grid-center {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
  }

  @media (min-width: 992px) {
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .image-part {
      display: flex;
      align-items: center;
      position: relative;
      z-index: -1;

      img {
        transform: scale(1.1);
      }
    }

    &__title {
      text-align: left;
    }

    &__description {
      font-size: 1.25rem;
    }

    &__benefits-grid {
      grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
      grid-column-gap: 32px;
    }

    &__benefits-grid-center {
      grid-column: auto;

      .button_free-estimate {
        display: none;
      }
    }
  }

  @media (min-width: 1366px) {
    &__description {
      font-size: 2rem;
    }
  }
}

.icon {
  display: inline-block;
}


