.what-we-do-section {
  position: relative;
  margin: 140px auto;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 120px;
    height: 270px;
    background: url("images/blue-spot.svg") right center no-repeat;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 8fr 10fr;
    grid-gap: 32px;
    margin-bottom: 70px;
  }

  .legend {
    font-size: 24px;
    font-weight: 600;
    color: $gray;
    text-transform: uppercase;
  }

  .description {
    font-size: 24px;
    font-weight: 500;
    color: $gray;
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 52px;
  }
}
