//.button {
//  display: inline-block;
//  padding: 10px 20px;
//  border-radius: 0.5rem;
//  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.09);
//  font-size: 1.125rem;
//  font-weight: 600;
//  color: $white;
//  background: transparent linear-gradient(271deg, #0095DA 0%, #33B1EA 100%);
//  text-decoration: none;
//
//  @media (min-width: 992px) {
//    padding: 10px 25px;
//  }
//
//  @media (min-width: 1336px) {
//    padding: 16px 50px;
//  }
//}

.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  border: 4px solid $black;
  border-radius: 8px;
  text-decoration: none;
  color: $black;
}
