.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1rem;
  font-weight: 600;

  .menu__item--current {
    .menu__link {
      color: $blue;
    }
  }

  .menu__link {
    text-decoration: none;
    color: $gray;

    &:hover {
      color: $blue;
    }
  }

  &.menu--vertical {
    flex-direction: column;
  }

  @media (min-width: 1366px) {
    font-size: 1.125rem;
  }
}
