.service-proposition {
  display: flex;
  flex-direction: column;
  padding: 32px;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.16);

  &__title {
    margin: 0 0 1rem;
    font-size: 32px;
    font-weight: 700;
  }

  &__description {
    margin: 0 0 2rem;
    font-weight: 600;
  }

  &__button {
    align-self: start;
    margin-top: auto;
  }
}
