.site-footer {
  background: url("images/wave.svg") bottom -12px center no-repeat;


  &__container {
    display: grid;
    grid-row-gap: 50px;
    row-gap: 50px;
    justify-content: space-between;
    padding: 4rem 0 4rem;
    border-top: 1px solid adjust-color($gray, $alpha: -0.58);
  }

  .contacts {
    margin: 2rem 0 0;
    font-size: 1.125rem;
    font-weight: bold;
    color: #000;

    &__item {
      margin: 0 0 1rem;
    }

    a {
      color: #000;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__info-title {
    margin: 0 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .menu__item {
    margin: 0 0 0.5rem;
  }

  @media (min-width: 992px) {
    &__container {
      grid-template-columns: repeat(4, 220px);
    }
  }

  @media (min-width: 1366px) {
    &__container {
      grid-template-columns: repeat(4, 260px);
    }
  }
}
