.site-header {
  padding: 16px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

  &__container {
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    margin-right: auto;
    max-width: 50%;
  }

  .nav {
    display: none;
    margin: 0 16px 0 16px;

    .menu__item {
      margin: auto 8px;
    }
  }

  .button_free-estimate {
    display: none;
  }

  @media (min-width: 992px) {
    padding: 24px 0;
    box-shadow: none;

    .nav {
      display: block;
      margin: 0 24px 0 auto;
    }

    .button_free-estimate {
      display: inline-block;
    }
  }

  @media (min-width: 1366px) {
    padding: 32px 0;

    .nav {
      margin: 0 32px 0 auto;
      .menu__item {
        margin: auto 16px;
      }
    }
  }
}

// TODO: Refactor burger button
.burger-container {
  width: 30px;
  height: 18px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

.burger {
  position: relative;
  width: 100%;
  height: 100%;

  &__line {
    width: 25px;
    height: 2px;
    background-color: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: 100%;
      background-color: $black;
      transition: all 300ms ease-in-out;

    }

    &::after {
      content: "";
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      height: 100%;
      background-color: $black;
      transition: all 300ms ease-in-out;
    }
  }
}

.burger-container {
  .burger {
    &__line {
      width: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &::before {
        width: 10px;
        left: 5px;
      }

      &::after {
        width: 25px;
        left: 12.5px;
      }
    }
  }

  .burger.active {
    .burger__line {
      background-color: transparent;

      &::before {
        top: 0;
        left: -4px;
        width: 25px;
        transform: rotate(-45deg);
      }

      &::after {
        top: 0;
        left: -4px;
        width: 25px;
        transform: rotate(45deg);
      }
    }
  }
}

@media (min-width: 992px) {
  .burger-container {
    display: none;
  }
}
